## Visual Studio / .NET
[Bb]in/
[Oo]bj/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user

## VS folders
.vs/

## NuGet Packages
packages/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## Rider
.idea/

## OS files
.DS_Store
Thumbs.db

## Secrets
appsettings.json